{% extends 'base.html.twig' %}

{% block title %}New Fotos{% endblock %}

{% block body %}
    <h1>Create new Fotos</h1>

    {{ include('fotos/_form.html.twig') }}

    <a href="{{ path('fotos_index') }}">back to list</a>
{% endblock %}
